html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);

  background-color: var(--bg-cl);
  @include fonts(20px, 24px, 500, 0.02em);

  // font-weight: 500;
  // font-size: 20px;
  // line-height: calc(24 / 20);

  @include mq(tablet) {
    // background-image: url(../images/body/bg_tab.svg);
  }

  @include mq(desktop) {
    // background-image: url(../images/body/bg_desk.svg);
  }
}
