h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// responsive images
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
  

  

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-radius);
}
