@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  /* Fonts */
  --main-font: "Roboto", sans-serif;
  /* Text colors */
  --main-txt-cl: #000000;
  --accent-txt-cl: #b92f2c;
  --btn-txt-cl: #000000;
  --btn-txt-cl: #ffffff;
  --copyright-txt-cl: #545454;
  --modal-title: #8c8c8c;
  /* BG colors */
  --bg-cl: #ffffff;
  --footer-bg-cl: #f7f7f7;
  --btn-bg-color: #000000;
  /* Others */
  --btn-radius: 100px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/**
  |============================
  | Mixin for vertical
  | indent of sections
  |============================
*/
/**
  |============================
  | Mixin for text values
  |============================
*/
/**
  |============================
  | Build grid element system
  | with flex layout
  |============================
*/
/**
  |============================
  | Mixin for media query
  |============================
*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
  background-color: var(--bg-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: var(--btn-radius);
}

.header {
  position: relative;
  content: "";
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  height: 460px;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  border-radius: 10px;
  background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url("../images/header-image/yellow-mobile_1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header .header {
    background-image: url("../images/header-image/yellow-mobile_2x.jpg");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .header .header {
    background-image: url("../images/header-image/yellow-mobile_4x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 704px;
    height: 222px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
    border-radius: 15px;
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url("../images/header-image/yellow-tablet_1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header .header {
    background-image: url("../images/header-image/yellow-desktop_2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .header .header {
    background-image: url("../images/header-image/yellow-desktop_4x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .header {
    max-width: 1216px;
    height: 316px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    border-radius: 15px;
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%), url("../images/header-image/yellow-desktop_1x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header .header {
    background-image: url("../images/header-image/yellow-desktop_2x.jpg");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1280px) and (min-resolution: 288dpi), screen and (min-width: 1280px) and (min-resolution: 3dppx) {
  .header .header {
    background-image: url("../images/header-image/yellow-desktop_4x.jpg");
  }
}

.header__main-nav {
  margin-bottom: 312px;
}
@media screen and (min-width: 768px) {
  .header__main-nav {
    display: flex;
    margin-bottom: 105px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .header__main-nav {
    display: flex;
    margin-bottom: 151px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.header__list-buttons {
  display: flex;
  margin-bottom: 8px;
}

.header__list-item:not(:last-child) {
  margin-right: 4px;
}
@media screen and (min-width: 1280px) {
  .header__list-item:not(:last-child) {
    margin-right: 8px;
  }
}

.header__buttn {
  height: 34px;
  border-radius: var(--btn-radius);
  background-color: var(--bg-cl);
  color: var(--btn-bg-color);
}
.header__buttn.home {
  width: 87px;
}
.header__buttn.libr {
  width: 113px;
}
.header__buttn.current-page {
  background-color: var(--btn-bg-color);
  color: var(--bg-cl);
}
.header__buttn:hover, .header__buttn:focus {
  background-color: var(--btn-bg-color);
  color: var(--bg-cl);
}
@media screen and (min-width: 768px) {
  .header__buttn {
    height: 38px;
  }
  .header__buttn.home {
    width: 83px;
  }
  .header__buttn.libr {
    width: 109px;
  }
}
@media screen and (min-width: 1280px) {
  .header__buttn {
    height: 42px;
  }
  .header__buttn.home {
    width: 87px;
  }
  .header__buttn.libr {
    width: 113px;
  }
}

.header__buttn-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.header__search {
  width: 252px;
  height: 34px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--btn-radius);
  background-color: var(--bg-cl);
}
@media screen and (min-width: 768px) {
  .header__search {
    width: 165px;
    height: 38px;
    margin-right: 4px;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header__search {
    width: 187px;
    height: 42px;
    margin-right: 8px;
    margin-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.header__input {
  width: 220px;
  outline: 0;
  border: 0;
  border-radius: var(--btn-radius);
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__input {
    width: 110px;
  }
}
@media screen and (min-width: 1280px) {
  .header__input {
    width: 130px;
    padding-bottom: 5px;
  }
}

.header__input::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--btn-bg-color);
}

.header__input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--btn-bg-color);
}
@media screen and (min-width: 768px) {
  .header__input::-moz-placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .header__input::placeholder {
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .header__input::-moz-placeholder {
    font-size: 14px;
    line-height: 16px;
  }
  .header__input::placeholder {
    font-size: 14px;
    line-height: 16px;
  }
}

.header__search-buttn {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  padding-bottom: 5px;
}

.header__message {
  display: none;
  width: 155px;
  margin-left: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-overflow: unset;
  color: var(--bg-cl);
}

.header__logo {
  text-align: center;
}

.header__icon.film {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
@media screen and (min-width: 768px) {
  .header__icon.film {
    width: 34px;
    height: 34px;
  }
}
@media screen and (min-width: 1280px) {
  .header__icon.film {
    width: 50px;
    height: 50px;
  }
}

.header__logo-link {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: var(--bg-cl);
}
@media screen and (min-width: 768px) {
  .header__logo-link {
    justify-content: start;
    align-items: center;
    font-size: 40px;
    line-height: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo-link {
    justify-content: start;
    font-size: 64px;
    line-height: 75px;
  }
}

.header__main-nav--libr {
  margin-bottom: 258px;
}
@media screen and (min-width: 768px) {
  .header__main-nav--libr {
    display: flex;
    margin-bottom: 105px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}
@media screen and (min-width: 1280px) {
  .header__main-nav--libr {
    display: flex;
    margin-bottom: 151px;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .header__buttons-libr {
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .header__buttons-libr {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .header__buttn-libr {
    position: absolute;
    bottom: 24px;
    left: 44px;
  }
}
@media screen and (min-width: 768px) {
  .header__buttn-libr {
    margin-left: 115px;
  }
}
@media screen and (min-width: 1280px) {
  .header__buttn-libr {
    margin-left: 519px;
  }
}

.header__buttn {
  height: 34px;
  border-radius: var(--btn-radius);
  background-color: var(--bg-cl);
  color: var(--btn-bg-color);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}
.header__buttn.watch {
  width: 102px;
}
.header__buttn.queue {
  width: 86px;
}
.header__buttn.watch:hover, .header__buttn.watch:focus, .header__buttn.queue:hover, .header__buttn.queue:focus {
  background-color: var(--accent-txt-cl);
  color: var(--bg-cl);
}
@media screen and (min-width: 768px) {
  .header__buttn {
    height: 38px;
  }
  .header__buttn.watch {
    width: 102px;
  }
  .header__buttn.queue {
    width: 86px;
  }
}
@media screen and (min-width: 1280px) {
  .header__buttn {
    height: 42px;
  }
  .header__buttn.watch {
    width: 120px;
  }
  .header__buttn.queue {
    width: 86px;
  }
}

.footer {
  position: relative;
  bottom: 0px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
}

.footer__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #545454;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__list {
    flex-direction: row;
  }
}

.footer__wrap {
  display: flex;
  margin-top: 12px;
}
@media screen and (min-width: 768px) {
  .footer__wrap {
    margin-top: 0;
  }
}

.footer__wrap--item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
}
@media screen and (min-width: 768px) {
  .footer__wrap--item {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__wrap--icon {
  width: 14px;
  height: 13px;
  margin-right: 5px;
  margin-left: 3px;
  animation: heartbeat 1250ms cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

.foter__list-item:not(:last-child) {
  margin-right: 5px;
}

.footer__wrap--link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #545454;
  -webkit-text-decoration: underline 2px;
          text-decoration: underline 2px;
  margin-left: 3px;
}
@media screen and (min-width: 768px) {
  .footer__wrap--link {
    font-size: 16px;
    line-height: 1.19;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
  display: none;
}
@media screen and (max-width: 479px) {
  .backdrop {
    padding: 20px;
  }
}

.modal {
  padding: 48px 20px;
  background-color: var(--ptimary-backgrond-color);
}
@media screen and (min-width: 320px) {
  .modal {
    top: 50%;
    left: 50%;
    width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    padding: 40px 72px 40px 36px;
    width: 704px;
    height: 552px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 806px;
    height: 558px;
    padding: 40px 12px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .modal-content-container {
    display: flex;
    gap: 16px;
  }
}

.modal-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .modal-title {
    font-size: 20px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1200px) {
  .modal-title {
    font-size: 30px;
    line-height: 1.16;
  }
}

.statistic-container {
  display: flex;
  gap: 85px;
  margin-bottom: 20px;
}

.statistics-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
}

.statistics-name:not(:last-child) {
  margin-bottom: 8px;
}

.statistics-value {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
}

.statistic-vote {
  padding: 1px 10px;
  background-color: #b92f2c;
  color: #ffffff;
  border-radius: 5px;
  margin-right: 5px;
}

.statistic-votes {
  padding: 1px 4px;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-left: 5px;
}

.statistics-value:not(:last-child) {
  margin-bottom: 10px;
}

.content-modal-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}

.content-modal {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.66;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #000000;
}

.modal-btn-container {
  display: flex;
  gap: 8px;
}

.content-modal-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 8px;
}

.modal-btn {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 100px;
  padding: 12px 18px;
}
@media screen and (min-width: 1200px) {
  .modal-btn {
    padding: 14px 32px;
  }
}

.btn-add-watched {
  background-color: #b92f2c;
  color: #ffffff;
  border: none;
}

.btn-add-queue {
  color: #b92f2c;
  background-color: #ffffff;
  border: none;
  outline: 1px solid #000000;
}

@media screen and (min-width: 480px) {
  .statistick-img {
    width: 264px;
  }
}
@media screen and (min-width: 768px) {
  .statistick-img {
    width: 264px;
  }
}
@media screen and (min-width: 1200px) {
  .statistick-img {
    width: 375px;
  }
}/*# sourceMappingURL=index.css.map */