<div class="section authentication">
  <div class="container">
    <form id="login">
      <h3>Log In</h3>
      <input
        type="email"
        name="logemail"
        class="form-style"
        placeholder="Your Email"
        id="logemail"
        autocomplete="off"
      />

      <input
        type="password"
        name="logpass"
        class="form-style"
        placeholder="Your Password"
        id="logpass"
        autocomplete="off"
      />

      <button class="header__buttn-link" type="submit">Login</button>
      <button class="header__buttn-link" type="button" id="logout">
        Logout
      </button>
      <a href="#0" class="link">Forgot your password?</a>
    </form>
    <form id="register">
      <h3>Sign up</h3>
      <input
        type="text"
        name="logname"
        class="form-style"
        placeholder="Your Full Name"
        id="logname"
        autocomplete="off"
      />
      <input
        type="email"
        name="logemail"
        class="form-style"
        placeholder="Your Email"
        id="logemail"
        autocomplete="off"
      />

      <input
        type="password"
        name="logpass"
        class="form-style"
        placeholder="Your Password"
        id="logpass"
        autocomplete="off"
      />

      <button class="header__buttn-link" type="submit">Register</button>
    </form>
  </div>
</div>
