<footer class="footer">
    <div class="footer__list">
        <p class="footer__list--item">&#169; 2023 | All Rights Reserved |</p>
        <ul class="footer__wrap">
            <li class="footer__wrap--item">Developed with</li>
            <li>
                <svg class="footer__wrap--icon" width="14" height="13">
                    <use href="./images/icons-sprite.svg#icon-heart">
                    </use>
                </svg>
            </li>
            <li class="footer__wrap--item">
                <a href="#" class="footer__wrap--link">GoIT Students
            </li>
        </ul>
    </div>
</footer>