<section class="section-gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="container container-gallery">
    <ul class="gallery list">
      <li class="gallery__item">
        <a href="" class="gallery__link link">
          <img
            class="gallery__image "
            src="./images/demo-image/img1.jpg"
            alt=""
            data-id=""
            loading="lazy"
            width="395"
            height="574"
          />
          <div class="info">
          <h3 class="info__item">greyhound</h3>
          <div class="info-detail">
            <p class="info-detail__item">Drama, Action</p>
            <p class="info-detail__item">2020</p>
          </div>
        </a>
      </li>

      <li class="gallery__item">
        <a href="" class="gallery__link link">
          <img
            class="gallery__image"
            src="./images/demo-image/img2.jpg"
            alt=""
            loading="lazy"
            width="395"
            height="574"
          />
          <div class="info">
          <h3 class="info__item"></h3>
          <div class="info-detail">
            <p class="info-detail__item">greyhound</p>
            <p class="info-detail__item">Drama, Ation</p>
          </div>
        </a>
      </li>

      <li class="gallery__item">
        <a href="" class="gallery__link link">
          <img
            class="gallery__image"
            src="./images/demo-image/img3.jpg"
            alt=""
            loading="lazy"
            width="395"
            height="574"
          />
          <div class="info">
          <h3 class="info__item"></h3>
          <div class="info-detail">
            <p class="info-detail__item">greyhound</p>
            <p class="info-detail__item">Drama, Ation</p>
          </div>
        </a>
      </li>

      <li class="gallery__item">
        <a href="" class="gallery__link link">
          <img
            class="gallery__image"
            src="./images/demo-image/img4.jpg"
            alt=""
            loading="lazy"
            width="395"
            height="574"
          />
          <div class="info">
          <h3 class="info__item"></h3>
          <div class="info-detail">
            <p class="info-detail__item">greyhound</p>
            <p class="info-detail__item">Drama, Ation</p>
          </div>
        </a>
      </li>

      <li class="gallery__item">
        <a href="" class="gallery__link link">
          <img
            class="gallery__image"
            src="./images/demo-image/img5.jpg"
            alt=""
            loading="lazy"
            width="395"
            height="574"
          />
          <div class="info">
          <h3 class="info__item"></h3>
          <div class="info-detail">
            <p class="info-detail__item">greyhound</p>
            <p class="info-detail__item">Drama, Ation</p>
          </div>
        </a>
      </li>

      <li class="gallery__item">
        <a href="" class="gallery__link link">
          <img
            class="gallery__image"
            src="./images/demo-image/img6.jpg"
            alt=""
            loading="lazy"
            width="395"
            height="574"
          />
          <div class="info">
          <h3 class="info__item"></h3>
          <div class="info-detail">
            <p class="info-detail__item">greyhound</p>
            <p class="info-detail__item">Drama, Ation</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
