<section class="header">
    <div class="header__nav">
        <nav class="header__main-nav">
            <ul class="header__list-buttons list">
                <li class="header__list-item">
                    <button type="button">
                        <a href="./index.html">HOME</a>
                    </button>
                </li>
                <li class="header__list-item">
                    <button type="button">
                        <a href="./index.html">MY LIBRARY</a>
                    </button>
                </li>
            </ul>
            <div class="header__search-box">
            <input type="text" name="" id="" placeholder="Movie Search">
            <button>
                        <svg class="header_icon search" width="12" height="12">
                            <use href="./images/header-image/header-icons.svg#icon-search"></use>
                        </svg>
            </button>
            </div>
        </nav>
    </div>
</section>