<section class="header">
    <div class="header__nav">
        <nav class="header__main-nav">
            <ul class="header__list-buttons list">
                <li class="header__list-item ">
                    <button type="button" class="header__buttn black">
                        <a href="./index.html" class="link header__buttn-link white">HOME</a>
                    </button>
                </li>
                <li class="header__list-item">
                    <button type="button" class="header__buttn white">
                        <a href="#" class="link header__buttn-link black">MY LIBRARY</a>
                    </button>
                </li>
            </ul>


            <div class="header__search-box">
            <input class="header__input" type="search" name="" id="" placeholder="Movie Search">
            <button class="header__search-buttn">
                        <svg class="header_icon search" width="12" height="12">
                            <use href="./images/icons-sprite.svg#icon-search"></use>
                        </svg>
            </button>

            
            </div>
        </nav>

        <div class="header_logo">
            <a href="./index.html" class="header_logo-link link">
                <span>
                    <svg class="header_icon film" width="50" height="50">
                        <use href="./images/icons-sprite.svg#icon-film"></use>
                    </svg>
                </span>
                Filmoteka</a>
        </div>

    </div>
</section>