<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="button-modal" data-modal-close>
      <svg class="modal-svg" width="20" height="20">
        <use class="modal-icon" href="./images/icons-sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-content-container">
      <div class="modal-photo-container">
        <picture>
          <source srcset="./images/modal.jpg 1x" media="(min-width: 1200px)" />
          <source srcset="./images/modal.jpg 1x" media="(min-width: 768px)" />
          <source srcset="./images/modal.jpg" media="(max-width: 767px)" />
          <img src="./images/modal.jpg" width="" class="statistick-img" alt="" />
        </picture>
      </div>
      <div class="content-modal">
        <h2 class="modal-title">A FISTFUL OF LEAD</h2>
        <div class="statistic-container">
          <ul class="list">
            <li>
              <div>
                <p>Vote / Votes</p>
                <p><span class="statistic-vote">7.3</span>/<span class="statistic-votes">1260</span></p>
              </div>
            </li>
            <li>
              <div>
                <p>Popularity</p>
                <p>100.2</p>
              </div>
            </li>
            <li>
              <div>
                <p>Original Title</p>
                <p></p>
              </div>
            </li>
            <li>
              <div>
                <p>Genre</p>
                <p>A FISTFUL OF LEAD</p>
              </div>
            </li>
        </div>
        <h3 class="content-modal-title">About</h3>
        <p class="content-modal">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
        <div class="modal-btn-container">
          <button class="modal-btn btn-add-watched">add to Watched</button>
          <button class="modal-btn btn-add-queue">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>