<section class="header container">
    <div class="header__nav">
        <nav class="header__main-nav--libr">
            <div class="header__buttons-libr">   
                <div class="header__buttn-main">
                    <ul class="header__list-buttons list">
                        <li class="header__list-item ">
                            <a href="./index.html" class="link header__buttn-link ">
                            <button type="button" class="header__buttn home ">
                                HOME
                            </button>
                            </a>
                            
                        </li>
                        <li class="header__list-item">
                            <a href="#" class="link header__buttn-link">
                                <button type="button" class="header__buttn libr current-page">
                                MY LIBRARY
                                </button>
                            </a>
                            
                        </li>     
                    </ul>
                    
                </div>

                <div class="header__buttn-libr">  
                    <ul class="header__list-buttons list">
                        <li class="header__list-item ">
                            
                            <button type="button" class="header__buttn watch ">
                                WATCHED
                            </button>
                            
                            
                        </li>
                        <li class="header__list-item">
                            
                                <button type="button" class="header__buttn queue">
                                    QUEUE
                                </button>
                            
                            
                        </li>
                    </ul>
                       
                </div>
            </div>
            
               
                
               

            <div class="header__search-box">
                <form class="header__search" id="search-form">
                    <input
                     
                      type="text"
                      name="searchQuery"
                      autocomplete="off"
                      class="header__input"
                      placeholder="Movie Search"
                    />
                    <button class="header__search-buttn">
                        <svg class="header__icon search" width="16" height="16">
                            <use href="./images/icons-sprite.svg#icon-search"></use>
                        </svg>
                    </button>
                  </form>
                            
        
            <p class="header__message">Search result not successful. Enter the correct movie name.</p>

            </div>

        </nav>
        
        <div class="header__logo">
            <a href="./index.html" class="header__logo-link link">
               
                    <svg class="header__icon film">
                        <use href="./images/icons-sprite.svg#icon-film"></use>
                    </svg>
                
                <p>Filmoteka</p>
            </a>
        </div>
    </div>
</section>