<div class="container">
  <div id="pagination-library" class="pagination-library">
    <div id="pagination">
      <button id="prevButton">
        <svg class="arrow-right" width="16px" height="16px">
          <use href="./images/icons-sprite.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <button id="firstPageButton">1</button>
      <button id="prev5Button">...</button>
      <button class="pageNumberButton">1</button>
      <button class="pageNumberButton">2</button>
      <button class="pageNumberButton active">3</button>
      <button class="pageNumberButton">4</button>
      <button class="pageNumberButton">5</button>
      <button id="next5Button">...</button>
      <button id="totalPagesButton">TP</button>
      <button id="nextButton">
        <svg class="arrow-right" width="16px" height="16px">
          <use href="./images/icons-sprite.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
