<div class="backdrop-modal is-hidden modal-open">
  <div class="team-modal light-theme">
    <h2 class="team__modal-title">GoIT team 5</h2>

    <button class="modale__btn-close btn__close-modal">
      <svg class="modal__btn-icon" width="18" height="18">
        <use href="./images/icons-sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="team__modal-leader">
      <img
        class="team__modal-pic"
        src="/src/images/team.images/Dmytro_Karpenko.png"
        alt="Developer"
      />

      <p class="team__modal-member">Dmytro Karpenko</p>
      <p class="team__modal-role">Team Lead</p>
      <div class="social-icon">
        <a
          href="https://github.com/DmytroKarpenko88"
          class="team__modal-link"
          target="_blank"
        >
          <svg class="icon-github" width="25" height="25">
            <use href="/src/images/icons-sprite.svg#icon-github"></use>
          </svg>
        </a>
        <a
          href="https://www.linkedin.com/in/dmytro-karpenko-95a6221a/"
          class="team__modal-link"
          target="_blank"
        >
          <svg class="icon-linkedin" width="25" height="25">
            <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </div>
    </div>

    <ul class="team__modal-list list">
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Maiia.png"
          alt="Developer"
        />

        <p class="team__modal-member">Maiia Robeiko</p>
        <p class="team__modal-role">Scrum Master</p>
        <div class="social-icon">
          <a
            href="https://github.com/MaiiaHa"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/maiiaro/"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Ruslan_Boyko.png"
          alt="Developer"
        />

        <p class="team__modal-member">Ruslan Boiko</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/marseille78"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/ruslan-boiko/"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Halyna_Tulchii.png"
          alt="Developer"
        />

        <p class="team__modal-member">Halyna Tulchii</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/AliiaTulchii"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/halyna-tulchii-869569271/"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Shymanska.png"
          alt="Developer"
        />

        <p class="team__modal-member">Maria Shymanska</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/Maria-Shymanska"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/maria-shymanska-aa8277251/"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Ludmyla_Chumak.png"
          alt="Developer"
        />

        <p class="team__modal-member">Ludmila Chumak</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/ludmila121"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/liudmyla-chumak-30732a164/"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Artem_Liaschenko.png"
          alt="Developer"
        />

        <p class="team__modal-member">Artem Liaschenko</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/Artem4535"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/artem-liaschenko-658819271"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Sergii.png"
          alt="Developer"
        />

        <p class="team__modal-member">Sergii Podobrii</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/Mamont777"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/andrii-pokotilo/"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Andreii_Pokotilo.png"
          alt="Developer"
        />

        <p class="team__modal-member">Andrii Pokotilo</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/AndreyPokotilo"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/andrii-pokotilo/"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Yura_Doloban.png"
          alt="Developer"
        />

        <p class="team__modal-member">Yura Doloban</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/YuDo-fsd"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/yurii-doloban-055410254/">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Maryna_Molchanova.png"
          alt="Developer"
        />

        <p class="team__modal-member">Maryna Molchanova</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/MarynaMolchanova"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/me?trk=p_mwlite_feed_updates-secondary_nav"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Tetyana_Karlova-.png"
          alt="Developer"
        />

        <p class="team__modal-member">Tetyana Karlova</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="htths://github.com/Yanat58"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/tetiana-karlova-083784270">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="team__modal-item">
        <img
          class="team__modal-pic"
          src="/src/images/team.images/Kirill.png"
          alt="Developer"
        />

        <p class="team__modal-member">Kirill Parasochka</p>
        <p class="team__modal-role">Developer</p>
        <div class="social-icon">
          <a
            href="https://github.com/kirill-pka"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/in/кирилл-парасочка-825b2b134"
            class="team__modal-link"
            target="_blank"
          >
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
