<div class="backdrop-modal modal-open">
    <div class="team-modal">
        <h1 class="team__modal-title">GoIT team 5</h1>
        <ul class="team__modal-list">

            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Dmytro Karpenko</h2>
                <p class="team-modal-role">Team Lead</p>
                <div>
                    <a href="https://github.com/DmytroKarpenko88" class="team__modal-link" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/dmytro-karpenko-95a6221a/"></a>
                </div>
            </li>

            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">MaiiaHa</h2>
                <p class="team-modal-role">Scrum Master</p>
                <div>
                    <a href="https://github.com/MaiiaHa" class="team__modal-link" target="_blank"></a>
                    <a href="#"></a>
                </div>
            </li>

            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Ruslan-Boiko</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="https://github.com/marseille78" class="team__modal-link" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/ruslan-boiko/" target="_blank"></a>
                </div>
            </li>

            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Halyna Tulchii</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="https://github.com/AliaTulchii" class="team__modal-link" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/halyna-tulchii-869569271/" target="_blank"></a>
                </div>
            </li>
            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Maria Shymanska</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="https://github.com/Maria-Shymanska" class="team__modal-link" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/maria-shymanska-aa8277251/"></a>
                </div>
            </li>
            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Ludmila Chumak</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="https://github.com/ludmila121" class="team__modal-link" target="_blank"></a>
                    <a href="https://www.linkedin.com/in/людмила-чумак-30732a164/"></a>
                </div>
            </li>
            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Artem Liaschenko</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="https://github.com/Artem4535" class="team__modal-link" target="_blank"></a>
                    <a href="linkedin.com/in/artem-liaschenko-658819271"></a>
                </div>
            </li>
            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Sergii Podobrii</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="https://github.com/Mamont777" class="team__modal-link" target="_blank"></a>
                    <a href="#"></a>
                </div>
            </li>
            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">AndreyPokotilo</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="https://github.com/AndreyPokotilo" class="team__modal-link" target="_blank"></a>
                    <a href="#"></a>
                </div>
            </li>
            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Yura Doloban</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="https://github.com/YuDo-fsd" class="team__modal-link" target="_blank"></a>
                    <a href="#"></a>
                </div>
            </li>
            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Maryna Molchanova</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="https://github.com/MarynaMolchanova" class="team__modal-link" target="_blank"></a>
                    <a href="#"></a>
                </div>
            </li>
            <li class="team__modal-item">
                <img class="team__modal-pic" src="#">
                <h2 class="team__modal-member">Tetyana Karlova</h2>
                <p class="team-modal-role">Developer</p>
                <div>
                    <a href="#" class="team__modal-link" target="_blank"></a>
                    <a href="#"></a>
                </div>
            </li>
        </ul>
        <button class="modale__btn-close">

        </button>
    </div>
</div>