<h2 class="team__modal-title">GoIT team 5</h2>
<div class="backdrop-modal modal-open">
  <div class="team-modal">
    <div class="team__modal-list">
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Dmytro Karpenko.jpg" alt="Developer" />

        <p class="team__modal-member">Dmytro Karpenko</p>
        <p class="team__modal-role">Team Lead</p>
        <div>
          <a href="https://github.com/DmytroKarpenko88" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github"></use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/dmytro-karpenko-95a6221a/">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin">
              </use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Maiia.jpg" alt="Developer" />
        <p class="team__modal-member">Maiia Robeiko</p>
        <p class="team__modal-role">Scrum Master</p>
        <div>
          <a href="https://github.com/MaiiaHa" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
            <a href="https://www.linkedin.com/in/maiiaro/">
              <svg class="icon-linkedin" width="25" height="25">
                <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
              </svg>
            </a>
        </div>
      </div>

      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Ruslan Boyko.jpg" alt="Developer" />
        <p class="team__modal-member">Ruslan Boiko</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/marseille78" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/ruslan-boiko/" target="_blank">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>

      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Halyna Tulchii.jpg" alt="Developer" />
        <p class="team__modal-member">Halyna Tulchii</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/AliaTulchii" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/halyna-tulchii-869569271/" target="_blank">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Shymanska.jpg" alt="Developer" />
        <p class="team__modal-member">Maria Shymanska</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/Maria-Shymanska" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/maria-shymanska-aa8277251/">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Ludmyla Chumak.jpg" alt="Developer" />
        <p class="team__modal-member">Ludmila Chumak</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/ludmila121" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/liudmyla-chumak-30732a164/">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Artem Liaschenko.jpg" alt="Developer" />
        <p class="team__modal-member">Artem Liaschenko</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/Artem4535" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/artem-liaschenko-658819271">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Sergii.jpg" alt="Developer" />
        <p class="team__modal-member">Sergii Podobrii</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/Mamont777" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Andreii Pokotilo.jpg" alt="Developer" />
        <p class="team__modal-member">Andrii Pokotilo</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/AndreyPokotilo" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/andrii-pokotilo/">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Yura Doloban.jpg" alt="Developer" />
        <p class="team__modal-member">Yura Doloban</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/YuDo-fsd" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/yurii-doloban-055410254/">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Maryna Molchanova.jpg" alt="Developer" />
        <p class="team__modal-member">Maryna Molchanova</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/MarynaMolchanova" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/me?trk=p_mwlite_feed_updates-secondary_nav">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Tetyana Karlova.jpg" alt="Developer" />
        <p class="team__modal-member">Tetyana Karlova</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/Yanat58" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="https://www.linkedin.com/in/tetiana-karlova-083784270">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="team__modal-item list">
        <img class="team__modal-pic" src="/src/images/team.images/Kirill.jpg" alt="Developer" />
        <p class="team__modal-member">Kirill Parasochka</p>
        <p class="team__modal-role">Developer</p>
        <div>
          <a href="https://github.com/kirill-pka" class="team__modal-link" target="_blank">
            <svg class="icon-github" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-github">
              </use>
            </svg>
          </a>
          <a href="#" class="team__modal-link" target="_blank">
            <svg class="icon-linkedin" width="25" height="25">
              <use href="/src/images/icons-sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

  </div>
  <button class="modale__btn-close btn__close-modal">close</button>
</div>