
// .container__gallery {
   
//     @media screen and (min-width: 320px) {
//       margin-bottom: 40px;
//       padding-right:20px;
//       padding-left: 20px;
//     }
  
//     @media screen and (min-width: 768px) {
//       width: 768px;
//       margin-bottom: 61px;
//       padding-right: 32px;
//       padding-left: 32px;
//     }
  
//     @media screen and (min-width: 1280px) {
//       width: 1280px;
//       margin-bottom: 60px;
//       padding-right: 32px;
//       padding-left: 32px;
//     }
//   }


// .section-gallery{
//     margin-top: 32px;
//   }

  
// .container-gallery {
// display: flex;
// align-items: center;


//     @media screen and (max-width: 767px) {
//         margin-bottom: 20px;
//       }
    
//     //   &__list {
//     //     display: flex;
//     //     align-items: center;
    
//     //     @media screen and (max-width: 767px) {
//     //       justify-content: left;
//     //       flex-wrap: wrap;
//     //       margin: -4px;
//     //     }
    
//     //     @media screen and (min-width: 768px) {
//     //       flex-wrap: none;
//     //       justify-content: center;
//     //       margin-bottom: 30px;
//     //     }
    
//     //     @media screen and (min-width: 1200px) {
//     //       margin-bottom: 34px;
//     //     }
//     //   }
    
//       &__item:not(:first-child) {
//         @media screen and (max-width: 768px) {
//           margin-left: 8px;
//         }
//       }
//     margin-bottom: 20px;
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: flex-start;


//     @media screen and (min-width: 768px) {
//         margin-left: -32px;
//         margin-top: 32px;
//     }
//     @media screen and (min-width: 1280px){
//        margin-left: -16px;
//     //    margin-top: -32px; 
//     }
//   }
.section-gallery {
    margin-top: 32px;
    margin-bottom: 60px;
}

.gallery {

    display: flex;
    flex-wrap: wrap;


    // @media screen and (min-width: 768px) {
    //     margin-left: -32px;
    //     margin-top: -32px;
    // }
    @media screen and (min-width: 1280px){
       margin-left: -16px;
       margin-top: -32px; 
    }
  }




  .gallery__item {
    display: flex;
    max-width: 280px;
    
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
          margin-bottom: 20px;
        }
    }    
    @media screen and (min-width: 768px) {
        flex-basis: calc(100% / 2 - 16px);
        // margin-left: 32px;
        // margin-top: 32px;
       
        max-width: 336px;    
    }

    @media screen and (min-width: 1280px) {
        flex-basis: calc(100%  / 3 - 16px);
        margin-top: 32px;
        margin-left: 16px;
        max-width: 395px;
        border-radius: 5px;
    }
    
  }

 .info {   
    padding-top: 10px;
    @media screen and (min-width: 768px){
        padding-top: 8px;   
    }
    @media screen and (min-width: 1280px){
        padding-top: 12px;  
    }


&__item {
    @media screen and (max-width: 767px){
        font-family: 'Roboto';
        text-transform: uppercase; 
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
    
        color: #000000;   
    }

    @media screen and (min-width: 768px){
        font-family: 'Roboto';
        text-transform: uppercase; 
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: calc(16px/12px);
    
        color: #000000;  
    }

        @media screen and (min-width: 1280px){
        font-family: 'Roboto';
    text-transform: uppercase; 
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px/20px);

    color: #000000;
    }
    
} 
 }

 .info-detail {
    display: flex;
 

 &__item {
    padding-right: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24px/20px);

    color: #B92F2C

 }
 
 &__item:not(:last-child) {
  margin-right: 5px;
  border-right: 1px solid #B92F2C;
 }

 }
