.section-gallery {
  @media screen and (max-width: 767px) {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    margin-top: 32px;
    margin-bottom: 61px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    margin-left: -32px;
    margin-top: -32px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: -16px;
    margin-top: -32px;
  }
}

.gallery__item {
  display: flex;
  max-width: 280px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2 - 16px);
    margin-left: 32px;
    margin-top: 32px;
    max-width: 336px;
    position: relative;
  }

  @media screen and (min-width: $desktop) {
    flex-basis: calc(100% / 3 - 16px);
    margin-top: 32px;
    margin-left: 16px;
    max-width: 395px;
    border-radius: 5px;
    position: relative;
    transition: transform 300ms cubic-bezier(0.38, 0.53, 0.8, 0.71);
  }

  &:hover,
  &:focus {
    transform: scale(1.05);

    .gallery__image {
      filter: saturate(165%);
      box-shadow: 0 0 20px rgba(112, 92, 2, 0.7);
    }
  }
}

.gallery__image {
  border-radius: 5px;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgba(55%, 55%, 55%, 0.4));
  filter: none;
  width: 280px;
  height: 398px;

  @media screen and (min-width: $tablet) {
    min-width: 336px;
    height: auto;
     }
  @media screen and (min-width: $desktop) {
    min-width: 394px;
    height: auto;
  }
}

.info {
  padding-top: 10px;
  @media screen and (min-width: $tablet) {
    padding-top: 8px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 12px;
  }

  &__item {
    font-family: var(--main-font);
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    color:var(--main-txt-cl);

    @media screen and (min-width: $tablet) {
      line-height: calc(16px / 12px);
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: calc(24px / 20px);
    }
  }
}

.info-detail {
  display: flex;

  &__item {
    padding-right: 5px;

    font-family: var(--main-font);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;

    color: var(--accent-txt-cl);

    @media screen and (min-width: $tablet) {
      line-height: calc(16px / 12px);
    }

    @media screen and (min-width: $desktop) {
      font-size: 20px;
      line-height: calc(24px / 20px);
    }
  }

  &__item:not(:last-child) {
    margin-right: 5px;
    border-right: 1px solid var(--accent-txt-cl);
  }

  &__rating {
    margin-left: 20px;
    margin-right: 5px;
  }
}

.film-rating {
  color: var(--main-txt-cl);
}
