.library-gallery{
    @media screen and (max-width: 767px) {
        margin-top: 20px;
        margin-bottom: 40px;
      }
    
      @media screen and (min-width: $tablet) {
        margin-top: 32px;
        margin-bottom: 61px;
      }
    
      @media screen and (min-width: $desktop) {
        margin-bottom: 60px;
      }
}

.library-gallery__wrap{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.library-gallery__image{
    margin-bottom: 30px;
}

.library-gallery__text{
  margin-top: 10px;

  font-style: 700;
  font-size: 50px;
  line-height: calc(64px/50px);
  text-transform: uppercase;

  color: var(--accent-txt-cl);
}