#pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
#next5Button,
#prev5Button,
#firstPageButton {
  display: flex;
  background-color: #fff;
  color: #000;
  border: none;
  justify-content: center;
  align-items: center;
}

.pageNumberButton,
#totalPagesButton {
  border: none;
  background-color: #fff;
  color: #000;
  padding: 13px;
  cursor: pointer;
  outline: none;
}

.pageNumberButton.active {
  background-color: #b92f2c;
  color: #fff;
  position: absolute;
  //   width: 40px;
  //   height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

#prevButton,
#nextButton {
  border: none;
  background-color: #f7f7f7;
  color: #000;
  padding: 13px;
  cursor: pointer;
  outline: none;
}
