.footer {
  position: relative;
  bottom: 0px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  width: 100%;
}
