.footer {
  position: relative;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;

  flex-shrink: 0;
  background-color: #f7f7f7;
  height: 100px;
  width: 100%;
  padding-top: 28px;
  padding-bottom: 29px;
  text-align: center;
  @media screen and (min-width: 768px) {
    height: 79px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.footer__desc {
  color: #545454;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(19 / 16);
    margin-right: 7px;
  }
}
.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footer__link {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #545454;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #b92f2c;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(19 / 16);
    padding: 0;
  }
}

.footer__link--underline {
  text-decoration-line: underline;
}
.footer__sub {
  display: flex;
  color: #545454;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }
}

.footer__icon {
  margin-left: 10px;
  margin-right: 10px;
  animation: heartbeat 1s infinite ease-in-out;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
