.header {
    margin-left: auto;
    margin-right: auto;
    max-width: 280px;
    height: 460px;
    padding-left: 14px;
    padding-right: 14px;        
    padding-top: 14px;
    border-radius: 10px;
    background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%),
    url('../images/header-image/yellow-mobile_1x.jpg');
    background-size: cover;
    background-repeat: no-repeat ;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url('../images/header-image/yellow-mobile_2x.jpg');
    }
  }
  

  @media (min-device-pixel-ratio: 3),
  (-webkit-min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .header {
    background-image: url('../images/header-image/yellow-mobile_4x.jpg');
  }
}
    
    
// width 768px
    @media screen and (min-width: 768px) {
        max-width: 704px;
        height: 222px;
        padding-left: 16px;
        padding-right: 16px;        
        padding-top: 16px;
        border-radius: 15px;
        background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%),
        url('../images/header-image/yellow-tablet_1x.jpg');


        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .header {
            background-image: url('../images/header-image/yellow-desktop_2x.jpg');
        }
        }
  

        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
        .header {
            background-image: url('../images/header-image/yellow-desktop_4x.jpg');
          }
        }


    }

// width 1280px

    @media screen and (min-width: 1280px) {
        max-width: 1216px;
        height: 316px;
        padding-left: 32px;
        padding-right: 32px;        
        padding-top: 16px;
        border-radius: 15px;
        background: linear-gradient(273.67deg, rgba(0, 0, 0, 0.49) -2.09%, rgba(0, 0, 0, 0) 99.83%),
     url('../images/header-image/yellow-desktop_1x.jpg');



                @media (min-device-pixel-ratio: 2),
                    (-webkit-min-device-pixel-ratio: 2),
                    (min-resolution: 192dpi),
                    (min-resolution: 2dppx) {
                    .header {
                    background-image: url('../images/header-image/yellow-desktop_2x.jpg');
                    }
                }
  

                @media (min-device-pixel-ratio: 3),
                    (-webkit-min-device-pixel-ratio: 3),
                    (min-resolution: 288dpi),
                    (min-resolution: 3dppx) {
                    .header {
                    background-image: url('../images/header-image/yellow-desktop_4x.jpg');
                    }
                }
    }

}



.header__main-nav {

    margin-bottom: 312px;

    @media screen and (min-width: 768px){
        display: flex;
        margin-bottom: 105px;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    @media screen and (min-width: 1280px){
        display: flex;
        margin-bottom: 151px;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

}



.header__list-buttons{
    display: flex;
    margin-bottom: 8px;
}

.header__list-item:not(:last-child){
    margin-right: 4px;

    @media screen and (min-width: 1280px){
        margin-right: 8px;
    }
}

.header__buttn{
    height: 34px;
    border-radius: var(--btn-radius);
    text-align: center;
    background-color: var(--bg-cl);
    color: var(--btn-bg-color);

    &.home{
        width: 87px;        
    }

    &.libr{
        width: 113px;        
    }

    &:hover,
    &:focus{
        background-color: var(--btn-bg-color);
        color:  var(--bg-cl);
    }

    @media screen and (min-width: 768px){
        height: 38px;
        &.home{
            width: 83px;        
        }
    
        &.libr{
            width: 109px;        
        }
    }

    @media screen and (min-width: 1280px){
        
        &.home{
            width: 87px;        
        }
    
        &.libr{
            width: 113px;        
        }
    }

    
}



.header__buttn-link{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

}

// button



.header__search{
    width: 252px;
    height: 34px;
    padding-left: 14px;
    padding-right:14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--btn-radius);
    background-color: var(--bg-cl);

    @media screen and (min-width: 768px) {
        width: 165px;
        height: 38px;
        margin-right: 4px;
        margin-bottom: 8px;
        padding-left: 16px;
        padding-right:16px;
    }
    

    @media screen and (min-width: 1280px) {
        width: 187px;
        height: 34px;
        margin-right: 8px;
        margin-bottom: 8px;
        padding-left: 16px;
        padding-right:16px;
    }
}

.header__input{
    width:220px;
    outline: 0;
    border: 0;
    border-radius: var(--btn-radius);
    background-color: transparent;   
    


    @media screen and (min-width: 768px){
        width:110px;
    }

    @media screen and (min-width: 1280px){
        width:130px;
    }
}

.header__input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--btn-bg-color); 

    @media screen and (min-width: 768px){
        font-size: 14px;
        line-height: 16px;
    }

    @media screen and (min-width: 1280px){
        font-size: 12px;
        line-height: 14px;
    }
}

.header__search-buttn{
    outline: none;
    border: none;
    background-color: transparent;  
    padding: 0;    
}

.header__message{
    display: none;
    width: 155px;
    margin-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    text-overflow: unset;
    color: var(--bg-cl);
}

.header__logo{
    text-align: center;
}

.header__icon.film{
    width: 32px;
    height: 32px;
    margin-right: 8px;

    @media screen and (min-width: 768px){
        width: 34px;
        height: 34px;
    }

    @media screen and (min-width: 1280px){
        width: 50px;
        height: 50px;
    }
}


.header__logo-link{ 
    display: flex;   
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: var(--bg-cl);


    @media screen and (min-width: 768px){
        justify-content:start;
        align-items: center;
        font-size: 40px;
        line-height: 47px;
    }

    @media screen and (min-width: 1280px){
        justify-content:start;
        font-size: 64px;
        line-height: 75px;
    }
    }




