
.pagination-container {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
}

.tui-pagination {
    max-width: 280px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    line-height: normal;
    text-align: center;
    font-size: 0;
}

 .tui-page-btn {
    display: inline-block;
    position: relative;
    font-family: 'Roboto';
    width: 40px;
    margin-left: 0;
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    line-height: 40px;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    
}

 .tui-pagination strong {
    color: #fff;
    background: #B92F2C;
    border-radius: 5px;
    cursor: default;
}


.tui-pagination .tui-prev, .tui-pagination .tui-next {
    width: 40px;
    overflow: hidden;
    margin: 0px;
    padding: 0;
    font-size: 0;
    background-color: #F7F7F7;
    line-height: 40px;
    white-space: nowrap;
    font-weight: normal;
    border-radius: 5px;
    border: none;
}


 .tui-pagination .tui-ico-prev {
    background: url(/src/images/pagination-svg/arrow-left.svg);
    display: inline-block;
    vertical-align: middle;
    font-size: 0px;
    width: 16px;
    height: 16px;
    order: -1;
    color: #000000;
    background-repeat: no-repeat;
    background-position: center;
}

.tui-pagination .tui-ico-next {
    background-image: url(/src/images/pagination-svg/arrow-right.svg);
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    width: 16px;
    height: 16px;
    order: 1;
    color: #000000;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 767px) {
    .tui-next-is-ellip,
    .tui-prev-is-ellip,
    .tui-first,
    .tui-last {
        display: none;
    }
}




@media screen and (min-width: 768px) {

    .tui-ico-ellipsis, .tui-ico-first, .tui-ico-last {
        overflow: hidden;
    }

    .tui-pagination {
        max-width: 374px;
        height: 40px;
        margin-right: auto;
        margin-left: auto;
        line-height: normal;
        text-align: center;
        font-size: 0;
    }

    .tui-pagination .tui-first, .tui-pagination .tui-last {
        overflow: hidden;
        margin: 0px;
        padding: 0;
        font-size: 0;
        background-color: #F7F7F7;
        line-height: 40px;
        white-space: nowrap;
        font-weight: normal;
        
        border: none;
    }

    .tui-pagination .tui-prev, .tui-pagination .tui-next {
        width: 36px;
        height: 40px;
        overflow: hidden;
        margin: 0px;
        padding: 0;
        font-size: 0;
        background-color: #ffffff;
        line-height: 40px;
        white-space: nowrap;
        font-weight: normal;
        border: none;
    }


    .tui-pagination .tui-prev-is-ellip {
        width: 11px;
        border-right: 0
    }
    
    .tui-pagination .tui-next-is-ellip {
        width: 11px;
        border-left: 0
    }


    .tui-pagination .tui-ico-first, .tui-pagination .tui-ico-last, .tui-pagination .tui-ico-ellip {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAiCAYAAAA+stv/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMy1jMDExIDY2LjE0NTY2MSwgMjAxMi8wMi8wNi0xNDo1NjoyNyAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNiAoV2luZG93cykiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6N0YwN0I4MUNDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6N0YwN0I4MURDNjk0MTFFNjgzNjg5NTM0OEZDQ0YxNTUiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo3RjA3QjgxQUM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo3RjA3QjgxQkM2OTQxMUU2ODM2ODk1MzQ4RkNDRjE1NSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PlM+zvEAAAMuSURBVHjaxFdrS5RREH73Zako6kt92x8QRR+qXYjoQneTyKCoMAmKspLI6EMQFBjSxehCdLGixa5maHbZilIro9uH2C2IoF+w/6EstJnleXV2mvO+W6458CA+45mZc+aceV5jyWTSU7aEsJOwUXO5XK7A5fN5vWYFoZawXnOJRKLAufLEDbKTsCmC08nblN/izDy+Iu9h0TNwSw3OlbwLXIXBSSuK6avkNSp5h+JKSX4nInlRTC6g0kheGZG8ykheFZHcjClb0Gcs6nP08Ad+DkRwXlRMH9XUoLpl4C1OWhd22oZWuDhpZkxfOHlxuypCc+UooiimbMFz4Vwewukiqo0iqkOKKIrpO5x1EZy0biSsjeDMPDHvL8yYgCUbTUST971RtjjNaO7VDRxLYOcIHwm3Hes6sOaJ4C4ScoSWEk+voBV8AtdxYVYLJwc/Q9jmKOAy4RZhreDShCYIWZQFUzQdx61dB3HghPexkwr4xhAuqQAvCWsID/kUcaM/42l1Y815R/KicR2o4SuM0kdYfBcBWSN6CGMJZ1WgNzi1DNZwu74QFqNAXnMqLLmH6gN7S1iFvk4kXCV8FQEnERpVwPeElRgw7G8mfCMswqY4ToPQimtaK3xjTvcr7hcQZjz/vyuuX+iDUytkAXNQ2X7snm0q4TV21mgknofXs0/c/mlYw3fgWMToHixgPo6xHq+CbTqhF6/hhJF8AfpfJ57rDKw5TjhZin746DEH2oELwjYTgY6iAOvDIoNR2w5uFvreEPIC/tAKvoR7CFsQMLBdhEOiFdrYv1kNou2EA65B5NKP/6YFLl0YdS2IkRYEzyKmnknR7/Q/weBpQT9aVQu8TCYjtaIVk3JETqAFWrDB4W8WQydcDbPZrL4HUb97qVSqR4zhcYSb6k96MVXZPx5CNTS1BoZmUXwY7XuHt8yDaIIhWB+En4u8YJ7AMO9QFoLFb3sy4Yjyf8KceUGYQjg8El9EPw39KEUrylJAMDFPG7tnmw1/E1DWFrB4PSUcJFwx/HMJjzEd085X8I/JF+LjpR7PURt/Dzwg7Bb6UtYC9mL2dzr8nHiraxBJ+y3AAOpc//DIQNiHAAAAAElFTkSuQmCC) no-repeat 0 0;
        display: inline-block;
        vertical-align: middle;
        font-size: 0px;
    }

    .tui-pagination .tui-ico-first {
        width: 11px;
        height: 10px;
        background-position: 0px 0px
    }

    .tui-pagination .tui-ico-last {
        width: 11px;
        height: 10px;
        background-position: 0px -12px
    }

    .tui-pagination .tui-ico-ellip {
        width: 10px;
        height: 2px;
        margin-top: 5px;
        vertical-align: top;
        background-position: 0px -24px
    }

    .tui-pagination .tui-prev-is-ellip, .tui-pagination .tui-next-is-ellip {
        padding: 0;
        line-height: 1;
    }

    
    .tui-pagination .tui-is-disabled .tui-ico-first {
        background-position: -13px 0px
    }
    
    .tui-pagination .tui-is-disabled .tui-ico-last {
        background-position: -13px -12px
    }

    

}